/* Whole page */
body{
    background-color:#3c4d74;
}


/* Carousel */
.picture-wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
 
.picture-wall img {
    max-width: 35%;
    max-height: 100%;
    padding: 5px;
}
a{
    padding: 18px;
}
a:hover,
a:active {
    padding: 18px;
    border-radius: 15px;
    background-color: #455988d8;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* add the shadow box */
}

/* nav Bar */
h1{
    font-family: Aboreto;
}

#header1 {
    z-index: 1;
    background-color:#3c4d7425;
}
#header2 {
    z-index: 1;
}

#navList{
    border-radius: 0px 0px 50px 50px;
    background-color:#1b2f61;
    color: #ffffff;
}

.enlarged-picture-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.enlarged-picture {
    max-width: 90%;
    max-height: 90%;
    z-index: 2;
}

.dark-screen {
    background-color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
}

